[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==4.4.1"

[packages]
requests = "==2.21.0"
marshmallow = "==3.0.0rc9"

[requires]
python_version = "3.7"
